{
  "isUpgrade": {{ pvwa_upgrade|lower }},
  "configDirPath": "{{ C:/Program Files (x86) }}",
  "websiteDirPath": "{{ C:/Program Files (x86) }}",
  "applicationName": "{{ Password Vault }}",
  "enableFullVersion": {{ pvwa_enable_full_version|lower }},
  "enableMobileVersion": {{ pvwa_enable_mobile_version|lower }},
  "vaultParams": {
    "address": "{{ 192.168.40.141 }}",
    "port": "{{ 1858 }}",
    "name": "Vault"
  }
}
