{
  "isUpgrade": {{ pvwa_upgrade|lower }},
  "configDirPath": "{{ C:/Program Files (x86) }}",
  "websiteDirPath": "{{ C:/Program Files (x86) }}",
  "vaultAdminUsername": "{{ Administartor }}",
  "authMethodSettings": {
    "authMethods": "{{ CyberArk }}",
    "defaultAuthMethod": "{{ CyberArk }}",
    "defaultMobileAuthMethod": "{{ pvwa_default_mobile_auth_method }}",
    "rememberLastAuthMethod": "true"
  }
}
