{
 "configDirPath": "{{ C:/Program Files (x86) }}",
 "vaultAdminUsername": "{{ Administartor }}",
 "pvwaURL": "{{ https://win-7AQVJT06KOL.cyberark.com/Passwordvault }}",
 "websiteDirPath": "{{ C:/Program Files (x86) }}"
}
